<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script type="text/javascript" src="https://online.tableau.com/javascripts/api/tableau-2.8.0.min.js"></script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "http://public.tableau.com/views/RegionalSampleWorkbook/Storms",
                options = {
                    width: "650px",
                    height: "550px",
                };

            viz = new tableau.Viz(containerDiv, url, options);
        }

    </script>
    <title>Title</title>
</head>

<body onload="initViz();" style="margin: 0px;">
<div id="vizContainer"></div>
<script src="../static/springboot/assets/demo/tableau-foot-traffic.js"></script>
</body>

</html>

