<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>전염병 데이터(PandemicBoard)</title>
    <link href="../static/springboot/css/styles.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://public.tableau.com/javascripts/api/tableau-2.8.0.min.js"></script>
    <script type="text/javascript"
            src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="sb-nav-fixed" onload="initViz();">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html"><i class="fab fa-pied-piper-square"></i> PandemicBoard</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                   aria-describedby="btnNavbarSearch"/>
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                    class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">바로알기</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        실시간 상황판
                    </a>
                    <a class="nav-link" href="test.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        보험료 산출
                    </a>
                    <div class="sb-sidenav-menu-heading">분석차트</div>
                    <a class="nav-link" href="test.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-invoice"></i></div>
                        경제피해
                    </a>
                    <a class="nav-link" href="foot-traffic.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-running"></i></div>
                        유동인구
                    </a>
                    <a class="nav-link" href="virInform.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-virus"></i></div>
                        바이러스 정보
                    </a>
                    <div class="sb-sidenav-menu-heading">정보</div>
                    <a class="nav-link" href="notice.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-bullhorn"></i></div>
                        공지사항
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">COPYRIGHT © 보험의 정석 ALL RIGHTS RESERVED.</div>
                금융 데이터 경진대회
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h2 class="mt-4">유동 인구</h2>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">서울특별시 행정동별 유동 인구 표준 편차</li>
                </ol>
                <div class="row">
                    <div class="card mb-4">
                        <div class="card-body">
                            서울특별시 기준 2019년부터 2021년 유동인구 데이터입니다.<br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-map-marked-alt"></i>
                                유동인구 표준편차
                            </div>
                            <div class="card-body">
                                <div id="vizContainer"></div>
                                <script src="../static/springboot/assets/demo/tableau-foot-traffic.js"></script>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-street-view"></i>
                                유동인구
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                    <tr>
                                        <th class="tg-f0bi" colspan="3">총 생활 인구수</th>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr>
                                        <th>행정코드</th>
                                        <th>행정구</th>
                                        <th>행정동</th>
                                        <th>총 생활 인구수</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>행정코드</th>
                                        <th>행정구</th>
                                        <th>행정동</th>
                                        <th>총 생활 인구수</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr>
                                        <td class="tg-3oby">11620625</td>
                                        <td class="tg-3oby">관악구</td>
                                        <td class="tg-k6n4">인헌동</td>
                                        <td class="tg-k6n4">24188</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-wdy9">11140605</td>
                                        <td class="tg-wdy9">중구</td>
                                        <td class="tg-ypzn">을지로동</td>
                                        <td class="tg-ypzn">6716</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-3oby">11470640</td>
                                        <td class="tg-3oby">양천구</td>
                                        <td class="tg-k6n4">신정3동</td>
                                        <td class="tg-k6n4">46603</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-wdy9">11290780</td>
                                        <td class="tg-wdy9">성북구</td>
                                        <td class="tg-ypzn">장위3동</td>
                                        <td class="tg-ypzn">9589</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-3oby">11320512</td>
                                        <td class="tg-3oby">도봉구</td>
                                        <td class="tg-k6n4">창2동</td>
                                        <td class="tg-k6n4">29984</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-wdy9">11650580</td>
                                        <td class="tg-wdy9">서초구</td>
                                        <td class="tg-ypzn">반포3동</td>
                                        <td class="tg-ypzn">16925</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-3oby">11710650</td>
                                        <td class="tg-3oby">송파구</td>
                                        <td class="tg-k6n4">인헌동</td>
                                        <td class="tg-k6n4">24188</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-wdy9">11110515</td>
                                        <td class="tg-wdy9">중구</td>
                                        <td class="tg-ypzn">잠실본동</td>
                                        <td class="tg-ypzn">42538</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-3oby">11230650</td>
                                        <td class="tg-3oby">종로구</td>
                                        <td class="tg-k6n4">청운효자동</td>
                                        <td class="tg-k6n4">14474</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-wdy9">11350612</td>
                                        <td class="tg-wdy9">중구</td>
                                        <td class="tg-ypzn">을지로동</td>
                                        <td class="tg-ypzn">6716</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-3oby">11590605</td>
                                        <td class="tg-3oby">동대문구</td>
                                        <td class="tg-k6n4">장안1동</td>
                                        <td class="tg-k6n4">40611</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-wdy9">11350612</td>
                                        <td class="tg-wdy9">노원구</td>
                                        <td class="tg-ypzn">하계2동</td>
                                        <td class="tg-ypzn">16370</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-3oby">11590605</td>
                                        <td class="tg-3oby">동작구</td>
                                        <td class="tg-k6n4">흑석동</td>
                                        <td class="tg-k6n4">33231</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-wdy9">11230610</td>
                                        <td class="tg-wdy9">동대문구</td>
                                        <td class="tg-ypzn">답십리2동</td>
                                        <td class="tg-ypzn">27961</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-3oby">11305630</td>
                                        <td class="tg-3oby">강북구</td>
                                        <td class="tg-k6n4">수유3동</td>
                                        <td class="tg-k6n4">35198</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-wdy9">11260550</td>
                                        <td class="tg-wdy9">중랑구</td>
                                        <td class="tg-ypzn">면목5동</td>
                                        <td class="tg-ypzn">10289</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">본 사이트에서 제공하는 내용의 인용과 사용에 대한 책임은 전적으로 인용자 및 사용자에게 있음을 알립니다.</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="../static/springboot/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="../static/springboot/assets/demo/chart-virus.js"></script>
<script src="../static/springboot/assets/demo/chart-area-demo.js"></script>
<script src="../static/springboot/assets/demo/chart-bar-demo.js"></script>
<script src="../static/springboot/assets/demo/chart-pie-demo.js"></script>
<script src="../static/springboot/assets/demo/slider.js"></script>
<script src="../static/springboot/assets/demo/chart-economy.js"></script>
<script src="../static/springboot/assets/demo/chart-economy-rev.js"></script>
<script src="../static/springboot/js/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="../static/springboot/assets/demo/tableau-foot-traffic.js"></script>
</body>

</html>