<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>전염병 데이터(PandemicBoard)</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="../static/springboot/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
        <link href="../static/springboot/css/styles2.css" rel="stylesheet" />
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html"><i class="fab fa-pied-piper-square"></i> PandemicBoard</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">바로알기</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                실시간 상황판
                            </a>
                            <a class="nav-link" href="insurance.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                보험료 산출
                            </a>
                            <div class="sb-sidenav-menu-heading">분석차트</div>
                            <a class="nav-link" href="economy.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-file-invoice"></i></div>
                                경제피해
                            </a>
                            <a class="nav-link" href="foot-traffic.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-running"></i></div>
                                유동인구
                            </a>
                            <a class="nav-link" href="virInform.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-virus"></i></div>
                                바이러스 정보
                            </a>
                            <div class="sb-sidenav-menu-heading">정보</div>
                            <a class="nav-link" href="notice.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-bullhorn"></i></div>
                                공지사항
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">COPYRIGHT © 보험의 정석 ALL RIGHTS RESERVED.</div>
                        금융 데이터 경진대회
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-2">실시간 상황판</h2>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">대시보드</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">소상공인 및 기업 지원 정책</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="http://ncov.mohw.go.kr/supportPolicyBoardList.do?brdId=5&brdGubun=53">바로 가기</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">국내 발생 현황</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=11&ncvContSeq=&contSeq=&board_id=&gubun=">바로 가기</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">지역별 거리두기 현황</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="http://ncov.mohw.go.kr/regSocdisBoardView.do?brdId=6&brdGubun=68&ncvContSeq=495">바로 가기</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">백신 접종 현황</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="https://ncv.kdca.go.kr/">바로 가기</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        코로나 일별 확진자 차트
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        코로나 월별 확진자 차트
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                행정동별 확진자
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>행정구역</th>
                                            <th>자치구</th>
                                            <th>행정동</th>
                                            <th>확진자</th>
                                            <th>누적확진자</th>
                                            <th>누적사망자</th>
                                            <th>누적완치자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>서울특별시</td>
                                            <td>종로구</td>
                                            <td>청운효자동</td>
                                            <td>61</td>
                                            <td>261</td>
                                            <td>12</td>
                                            <td>200</td>
                                        </tr>
                                        <tr>
                                            <td>서울특별시</td>
                                            <td>종로구</td>
                                            <td>사직동</td>
                                            <td>43</td>
                                            <td>592</td>
                                            <td>12</td>
                                            <td>500</td>
                                        </tr>
                                        <tr>
                                            <td>서울특별시</td>
                                            <td>종로구</td>
                                            <td>삼청동</td>
                                            <td>93</td>
                                            <td>931</td>
                                            <td>52</td>
                                            <td>815</td>
                                        </tr>
                                        <tr>
                                            <td>서울특별시</td>
                                            <td>종로구</td>
                                            <td>부암동</td>
                                            <td>41</td>
                                            <td>261</td>
                                            <td>14</td>
                                            <td>50</td>
                                        </tr>
                                        <tr>
                                            <td>서울특별시</td>
                                            <td>종로구</td>
                                            <td>평창동</td>
                                            <td>61</td>
                                            <td>261</td>
                                            <td>12</td>
                                            <td>200</td>
                                        </tr>
                                        <tr>
                                            <td>서울특별시n</td>
                                            <td>종로구</td>
                                            <td>무악동</td>
                                            <td>31</td>
                                            <td>412</td>
                                            <td>23</td>
                                            <td>327</td>
                                        </tr>
                                        <tr>
                                            <td>서울특별시</td>
                                            <td>종로구</td>
                                            <td>교남동</td>
                                            <td>57</td>
                                            <td>261</td>
                                            <td>12</td>
                                            <td>208</td>
                                        </tr>
                                        <tr>
                                            <td>서울특별시</td>
                                            <td>종로구</td>
                                            <td>가회동</td>
                                            <td>111</td>
                                            <td>651</td>
                                            <td>9</td>
                                            <td>521</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">본 사이트에서 제공하는 내용의 인용과 사용에 대한 책임은 전적으로 인용자 및 사용자에게 있음을 알립니다.</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../static/springboot/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="../static/springboot/assets/demo/chart-area-demo.js"></script>
        <script src="../static/springboot/assets/demo/chart-bar-demo.js"></script>
        <script src="../static/springboot/assets/demo/chart-virus.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="../static/springboot/js/datatables-simple-demo.js"></script>
    </body>
</html>
