<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <title>Title</title>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
        </script>
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=S2NIjtDSM5uZLf8tguznRUdoEfCvq3FyzJWM9nJHBQEQr%2B0hD6nqX9bpwG4BP2VmzObrSmsHOBgUAwgEN6SKOQ%3D%3D&pageNo=1&numOfRows=10&startCreateDt=20200310&endCreateDt=20200315', //통신을 원하는 URL주소를 입력합니다
                    type: 'GET', //통신 방식을 지정합니다
                    dataType: 'xml',//서버로부터 받을 데이터 타입을 입력합니다.
                    success: function (response) { // 통신 성공시 호출해야할 함수
                    xmlParsing(response);
                    },
                    error: function (xhr, status, msg) { // 통신 실패시 호출해야하는 함수
                    console.log('상태값 : ' + status + ' Http에러메시지 : ' + msg);
                    },
                });

                function xmlParsing(data) {
                    var infoList = ``;
                    $(data).find('row').each(function(index, item){
                        //console.log(item)
                        infoList += `
                            <tr>
                                <td>${$(this).find('STATE_DT').text()}</td>
                                <td>${$(this).find('DECIDE_CNT').text()}</td>
                                <td>${$(this).find('CLEAR_CNT').text()}</td>
                                <td>${$(this).find('DEATH_CNT').text()}</td>
                                <td>${$(this).find('ACC_DEF_RATE').text()}</td>
                            </tr>
                        `;
                        $('#info').empty().append(infoList);
                        $('tr:first').css('background', 'darkgray').css('color', 'white')
                    });
                }
            });
        </script>
        <h3>공공데이터 XML 파싱</h3>
        <button id="listBtn">코로나19 패히기업지원현황 보기</button>
        <table>
          <tr>
              <th>일련번호</th>
                <th>지역</th>
                <th>업력</th>
                <th>대출년도</th>
                <th>업종</th>
              </tr>
              <tbody id="info"></tbody>
        </table>
    </body>
</html>

